{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dienthoaihay</title>
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
    <link rel="stylesheet" href="{%static 'orders/css/order_infor.css'%}">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{% static 'img/logo-dth_1592615391.png'%}" type="image/png">
    <script src="{%static 'orders/js/order_infor.js'%}" defer></script>
</head>
<body>
    <header>
        <div class="grid">
           <div class="header-container">
            <div class="header-logo-container" onClick="window.location.href = '/'">
                <img src="{% static 'img/dienthoaihay_logo.png'%}" alt="">
                <span class="header-logo-phone">
                    0815.208.208 | 0818.215.215 
                </span>
            </div>
            <div class="region-search-container">
               <div class="region-search-block">
                    <i class="fa-solid fa-location-dot position-icon"></i>
                    <div class="region-selection-container">
                        <p class="region-search-title">Xem giá tại</p>
                        <select name="" id="" class="region-search-select">
                            <option value="">Hà Nội</option>
                            <option value="">Hồ Chí Minh</option>
                        </select>
                    </div>
               </div>
               <div class="region-search-content">
                    <input type="search" class="region-search-input" placeholder="Tìm kiếm sản phẩm trên dienthoaihay.vn">
                    <div class="search-suggestions">
                        <div class="suggestion-item">
                            <img src="{% static 'img/iphone-16---xanh-mòng-két_1726074714.png'%}" alt="" class="suggestion-item-img">
                            <span>iPhone 15 Pro Max</span>
                        </div>
                        <div class="suggestion-item">
                            <img src="{% static 'img/iphone-16---xanh-mòng-két_1726074714.png'%}" alt="" class="suggestion-item-img">
                            <span>Samsung Galaxy S24 Ultra</span>
                        </div>
                        <div class="suggestion-item">
                            <img src="{% static 'img/iphone-16---xanh-mòng-két_1726074714.png'%}" alt="" class="suggestion-item-img">
                            <span>Xiaomi 14 Pro</span>
                        </div>
                        <div class="suggestion-item">
                            <img src="{% static 'img/iphone-16---xanh-mòng-két_1726074714.png'%}" alt="" class="suggestion-item-img">
                            <span>Realme GT5 Pro</span>
                        </div>
                    </div>
               </div>
            </div>
            <div class="header-item">
                <div class="item-icon-container">
                    <i class="fa-solid fa-phone header-icon"></i>
                </div>
                <div class="item-title item-title-1">
                    <span class="sub1-item-title">Bán hàng</span>
                    <span class="sub2-item-title">Online</span>
                </div>
                <div class="contact-container">
                    <div class="time-activate-title">
                        <h1>BÁN HÀNG ONLINE(8H - 21H HÀNG NGÀY)</h1>
                    </div>
                    <div class="sub-contact-container">
                        <div class="sub-title-container">
                            <strong>Tư vấn bán hàng</strong>
                            <p>(Gọi hoặc chat Zalo)</p>
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                        <div class="contact-box">
                            <i class="fa-solid fa-comment-dots"></i>
                            <p class="zalo-text">Zalo</p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                            <p class="contact-address">Đồng Kè, Hoà Khánh Bắc</p>                            
                        </div>
                    </div>
                    <div class="sub-contact-container">
                        <div class="sub-title-container">
                            <strong>Tư vấn qua facebook</strong>
                        </div>
                        <div class="contact-box">
                            <p class="parah-1">- Truy cập ngay </p>
                            <a href="" class="url">Fanpages Dienthoaihay.vn</a>
                            <p class="parah-2">để được cập nhật giá, thông tin mới nhất về các sản phẩm công nghệ.</p>
                        </div>
                        <div class="contact-box">
                            <a href="" class="url">
                                Ấn vào đây
                                <i class="fa-solid fa-comment-dots"></i>
                            </a>
                            <p class="parah-2">để chat trực tiếp với nhân viên tư vấn</p>
                        </div>
                    </div>
                    <div class="sub-contact-container">
                        <div class="sub-title-container">
                            <strong>Hỗ trợ cửa hàng</strong>
                        </div>
                        <div class="contact-box">
                            <p>Cơ sở 1: </p>
                            <strong>K2/9, Đồng Kè, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng</strong>
                            <p>- Gọi ngay: </p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                        </div>
                        <div class="contact-box">
                            <p>Cơ sở 2: </p>
                            <strong>K2/9, Đồng Kè, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng</strong>
                            <p>- Gọi ngay: </p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                        </div>
                        <div class="contact-box">
                            <p>Cơ sở 3: </p>
                            <strong>K2/9, Đồng Kè, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng</strong>
                            <p>- Gọi ngay: </p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                        </div>
                        <div class="contact-box">
                            <p>Cơ sở 4: </p>
                            <strong>K2/9, Đồng Kè, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng</strong>
                            <p>- Gọi ngay: </p>
                            <strong class="contact-phone-number">0123.456.789</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-item">
                <div class="item-icon-container">
                    <i class="fa-regular fa-circle-check header-icon"></i>
                </div>
                <div class="item-title">
                    <span class="sub1-item-title">Tra cứu</span>
                    <span class="sub2-item-title">Sản phẩm</span>
                </div>
            </div>
            <div class="header-item" onClick="window.location.href = '/cart'">
                <div class="item-icon-container">
                    <i class="fa-solid fa-cart-shopping header-icon"></i>
                </div>
                <div class="item-title">
                    <span class="sub2-item-title">Giỏ hàng</span>
                </div>
            </div>
            <div class="header-item user-item">
                {% if not request.session.username%}
                <a href="/login" id="loginLink">Đăng nhập</a>
                {% else %}
                <span id="usernameDisplay">{{ request.session.username }}</span>
                <div id="userPopup" class="popup">
                    <div class="info-item" onClick="window.location.href = '/orders'">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Đơn hàng
                    </div>
                    <button id="logoutButton">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </button>
                </div>
                {% endif %}
            </div>
                  
           </div>
        </div>
    </header>
    
    <!-- main -->
    <div class="container">
        {% csrf_token %}
        {% for item in cart_items  %}
            <div class="order-product">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/{{item.img}}" alt="iPhone 15 Pro Max">
                    </div>
                    <div class="product-details">
                        <h4 class="product-name">{{item.name}}</h4>
                        <div class="product-specs">
                            <div class="product-color">
                                <span class="label">Màu:</span>
                                <span class="value">{{item.color}}</span>
                            </div>
                            <div class="product-memory">
                                <span class="label">Dung lượng:</span>
                                <span class="value">{{item.ram}}/{{item.rom}}</span>
                            </div>
                            <div class="quantity">
                                <span class="label">Số lượng:</span>
                                <span class="value">{{item.quantity}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="total-price">{{item.subtotal}}₫</span>
                    </div>
                </div>
            
            </div>
        {% endfor %}
        
        
        <div class="customer-info">
            <div class="info-title">THÔNG TIN KHÁCH HÀNG</div>
            <div class="input-group">
                <input type="text" placeholder="Họ và tên" value="{{client_name}}" >
            </div>
            <div class="input-group">
                <input type="tel" placeholder="Số điện thoại" value="{{phone_number}}" >
            </div>
            <div class="input-group">
                <input type="email" placeholder="Email của bạn" value="{{email}}" >
            </div>
        </div>
        
        <div class="delivery-info">
            <div class="info-title">THÔNG TIN NHẬN HÀNG</div>
            <div class="location-group">
                <div class="input-group">
                    <label for="city">Tỉnh/Thành phố</label>
                    <select id="city" name="city">
                        <option value="Hồ Chí Minh" selected>Hồ Chí Minh</option>
                        <option value="Hà Nội">Hà Nội</option>
                    </select>
                </div>
                
                <div class="input-group">
                    <label for="district">Quận/Huyện</label>
                    <select id="district">
                    </select>
                </div>
            </div>
            
            <div class="input-group">
                <input type="text" placeholder="Nhập địa chỉ cụ thể" value="{{address}}" >
            </div>
            
            <div class="input-group">
                <textarea placeholder="Ghi chú khác (nếu có)" rows="3"></textarea>
            </div>
        </div>
        
        <div class="order-total">
            <span>Tổng tiền tạm tính:</span>
            <span>{{total_price}}</span>
        </div>
        <div class="payment-method">
            <div class="info-title">PHƯƠNG THỨC THANH TOÁN</div>
            <div class="payment-options">
                <div class="payment-option">
                    <input type="radio" id="cod" name="payment" value="cod" checked>
                    <label for="cod">
                        <i class="fas fa-money-bill-wave"></i>
                        Thanh toán khi nhận hàng
                    </label>
                </div>
                <div class="payment-option">
                    <input type="radio" id="online" name="payment" value="online">
                    <label for="online">
                        <i class="fas fa-credit-card"></i>
                        Thanh toán online (Ví điện tử, Ngân hàng)
                    </label>
                </div>
            </div>
        
            <!-- Phần thanh toán online - ẩn mặc định -->
            <div id="onlinePaymentDetails" class="online-payment-details" style="display: none;">
                <div class="qr-section">
                    <img src="{% static 'img/qr_code.png' %}" alt="QR Code" class="qr-code">
                    <div class="payment-info">
                        <h4>Thông tin chuyển khoản</h4>
                        <p>Số tài khoản: 123456789</p>
                        <p>Chủ tài khoản: Vo Van Tuan</p>
                        <p>Ngân hàng: MB bank</p>
                        <p>Nội dung: DH[Số điện thoại]</p>
                    </div>
                </div>
                
                <div class="upload-section">
                    <label for="payment-proof">Quý khách vui lòng tải lên ảnh chụp màn hình chuyển khoản tại đây</label>
                    <input type="file" id="payment-proof" accept="image/*">
                    <div id="preview-container" class="preview-container"></div>
                </div>
            </div>
        </div>
        <button class="continue-button">Đặt hàng</button>
    </div>
    
    <!-- Notification Popup -->
    <div id="notificationPopup" class="notification-popup">
        <div class="notification-content">
            <div id="notificationMessage" class="notification-message"></div>
            <!-- <button class="notification-close" onclick="closeNotification()">&times;</button> -->
        </div>
    </div>
</body>
<script src="{%static 'js/home.js'%}"></script>
</html>