<!doctype html>
<html lang="en">
<head>
  <title>Đăng ký</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="/mobile_shop_project/static/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="login-box">
    <h2>Đăng ký</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Tên người dùng</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Số điện thoại</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Mật khẩu</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Xác nhận mật khẩu</label>
      </div>
      <div class="user-box">
        <a href="">
          <i class="fa-solid fa-backward"></i>
          Đăng nhập
        </a>
      </div>
      <button href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Đăng kí
      </button>
    </form>
  </div>
</body>
</html>
