{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{% static 'img/logo-dth_1592615391.png'%}" type="image/png">
    <title>Dienthoaihay</title>
</head>
<body>
  <div class="signup-box">
    <h2>Đăng ký</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="" class="username">
        <label>Tên người dùng</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" class="password">
        <label>Mật khẩu</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" class="confirm_password">
        <label>Xác nhận mật khẩu</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" class="firstname">
        <label>Tên</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" class="lastname">
        <label>Họ</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" class="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" class="phone">
        <label>Số điện thoại</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" class="address">
        <label>Địa chỉ</label>
      </div>
      <div class="user-box">
        <button href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Đăng ký
        </button>
        <a href="/login">
          <i class="fa-solid fa-backward"></i>
          Đăng nhập
        </a>
      </div>
    </form>
  </div>
</body>
<script src="{% static 'js/signup.js' %}"></script>
</html>
